<%
  @title = "Stephan Hagemann's posts"
  @header = "Posts"
  @description = "Rarely."
  @description_link = link_to('Ask me anything!', Contact::Config.entrypoint_path('Ask me anything'))
  @page_class = "dark-theme theme-blue"
  @container_class = "content-margin-top"
%>

<% @posts.each do |post| %>
<div class="blog-list-item">

  <h2><%= link_to(post.header || post.title, post_path(post)) %></h2>

  <div class="grab">
  <%= raw @markdown.render(post.teaser) %>
  </div>
  <p class="by-line"><%= post.date %></p>
</div>
<% end %>