<%
  @layout_params = RailsShims::LayoutParams.new(
    active_section: 'tags',
    container_class: "content-margin-top",
    description: "How I thought things could be categorized",
    header: "Tags",
    page_class: "dark-theme theme-blue",
    title: "Tags. Really?",
  )
%>

<h1>Tags</h1>
<p>See more writing by topic area:</p>

<ul class="tag-cloud">
  <% @tag_summaries.each do |tag_summary| %>
    <li>
      <%= link_to tag_summary.name, ::Tags::Api.entrypoint_path(tag_summary.name), "data-weight" => ::Tags::Tag.tagged_count_frequency(tag_summary.name) %>
    </li>
  <% end %>
</ul>
