<%
  @layout_params = RailsShims::LayoutParams.new(
    active_section: 'tags',
    container_class: "content-margin-top",
    header: "Content tagged #{@tags.first.name}",
    title: "Content tagged #{@tags.first.name}",
    page_class: "dark-theme theme-blue",
  )
%>

<h1>Content tagged "<%= @tags.first.name %>"</h1>
<div class="blog-list-item">
  <ul>
  <% @tags.each do |tag| %>
    <li>
      <%= link_to tag.title, tag.path %> (<%= format_date(tag.date) %>)
    </li>
  <% end %>
  </ul>
</div>

<a href="/tags">All Tags</a>

<%= raw Backlinks::Api.backlinks_for(request.path) %>