<%
  @layout_params = RailsShims::LayoutParams.new(
    active_section: 'books',
    container_class: "content-margin-top",
    description_link: link_to('Talk to me about books!', Contact::Config.entrypoint_path('Books')),
    header: 'Books',
    page_class: "dark-theme theme-blue",
    title: "Stephan Hagemann's Books",
  )
%>

<% @books.each do |book| %>
  <div style="display:flex; flex-direction: row">
    <div style="flex: 1">
      <img style="width: auto; height: 100px; padding-right: 20px; padding-top: 10px; display: inline-block;" src="<%= book.cover_image %>" />
    </div>
    <div style="flex: 4;">
      <h2 style="margin-top: 12px; padding-top: 0; margin-bottom: 0; font-size: 20px">
        <%= link_to book.title, book_path(book)%>
      </h2>
      <%= Date.parse(book.date).year %>
    </div>
  </div>
<% end %>
