<%
  @header = 'Books'
  @title = "Stephan Hagemann's Books"
  @description_link = "<a href='/contact/?subject=Books'>Talk to me about books!</a>"
  @page_class = "dark-theme theme-blue"
  @container_class = "content-margin-top"
%>

<% @books.each do |book| %>
  <div style="display:flex; flex-direction: row">
    <div style="flex: 1">
      <img style="width: auto; height: 100px; padding-right: 20px; padding-top: 10px; display: inline-block;" src="<%= book.cover_image %>" />
    </div>
    <div style="flex: 4;">
      <h2 style="margin-top: 12px; padding-top: 0; margin-bottom: 0; font-size: 20px">
        <a href="<%=  book_path(book) %>">
          <%= book.title %>
        </a>
      </h2>
      <%= Date.parse(book.date).year %>
    </div>
  </div>
<% end %>
