<%
  @layout_params = RailsShims::LayoutParams.new(
    active_section: 'agile_landscape',
    container_class: "content-margin-top",
    title: "Agile Landscape - Framework: #{@framework.name}",
    header: "Agile Landscape - Framework #{@framework.name}",
    description: "This page is part of my <a href='/agile_landscape'>Agile Landscape</a> project."
  )
%>

<%= @framework.name %> has the following entries: 

<ul>
  <% @entries.each do |e| %>
    <li><%= link_to e.name, agile_landscape_entry_path(version: @framework.version.to_param, id: e.to_param) %></a>
  <% end %>
</ul>

<%= render partial: 'agile_landscape/agile_landscape/graph', locals: { graph: @graph } %>
