<%-
    @container_class = "centered-container"
    @active_section = 'root'
-%>

<h1>Stephan Hagemann</h1>
<div>
  <a href="https://gradualmodularization.com">gradualmodularization.com</a> | 
  <a href="https://cbra.info">cbra.info</a>
</div>

<p>
  Stephan has built a career helping organizations like <a href="https://www.humana.com/">Humana</a> and <a href="http://www.vw.com/">Volkswagen</a> rethink their approach to software and cloud based architectures.
</p>
<p>
  Stephan prides himself in building robust systems that stand the test of time and are only as complex as they need to be to accomplish the task. He likes his programming language to get out of the way. He has most experience with Ruby, JavaScript, Java, and Go but he is happy to dabble in any language. In his book, <a href="https://cbra.info">Component-based Rails Applications</a>, he outlines best practices for pushing Ruby to new levels of performance and maintainability. His new book, <a href="https://gradualmodularization.com">Gradual Modularization for Ruby and Rails</a>, revamps and expands on the ideas of components based on recent the development of package-based modularization.
</p>
<p>
  Native to Germany, Stephan received his master and doctorate in Information Systems from the University of Muenster. He is part of Engineering at <a href="https://gusto.com/">Gusto</a>.
</p>

<p>
  <div>
    <a href="contact?subject=General+Inquiry" class="btn">Get in touch!</a>

    <a rel="me" href="https://ruby.social/@shageman" class="btn" rel="noopener noreferrer me"><svg style="font-decoration: none;" width="12" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 229 229" aria-labelledby="MastodonTitleHeader" role="img"><title id="MastodonTitleHeader">Mastodon Profile</title><path fill="currentColor" d="M211.80734 139.0875c-3.18125 16.36625-28.4925 34.2775-57.5625 37.74875-15.15875 1.80875-30.08375 3.47125-45.99875 2.74125-26.0275-1.1925-46.565-6.2125-46.565-6.2125 0 2.53375.15625 4.94625.46875 7.2025 3.38375 25.68625 25.47 27.225 46.39125 27.9425 21.11625.7225 39.91875-5.20625 39.91875-5.20625l.8675 19.09s-14.77 7.93125-41.08125 9.39c-14.50875.7975-32.52375-.365-53.50625-5.91875C9.23234 213.82 1.40609 165.31125.20859 116.09125c-.365-14.61375-.14-28.39375-.14-39.91875 0-50.33 32.97625-65.0825 32.97625-65.0825C49.67234 3.45375 78.20359.2425 107.86484 0h.72875c29.66125.2425 58.21125 3.45375 74.8375 11.09 0 0 32.975 14.7525 32.975 65.0825 0 0 .41375 37.13375-4.59875 62.915"/><path fill="#fff" d="M177.50984 80.077v60.94125h-24.14375v-59.15c0-12.46875-5.24625-18.7975-15.74-18.7975-11.6025 0-17.4175 7.5075-17.4175 22.3525v32.37625H96.20734V85.42325c0-14.845-5.81625-22.3525-17.41875-22.3525-10.49375 0-15.74 6.32875-15.74 18.7975v59.15H38.90484V80.077c0-12.455 3.17125-22.3525 9.54125-29.675 6.56875-7.3225 15.17125-11.07625 25.85-11.07625 12.355 0 21.71125 4.74875 27.8975 14.2475l6.01375 10.08125 6.015-10.08125c6.185-9.49875 15.54125-14.2475 27.8975-14.2475 10.6775 0 19.28 3.75375 25.85 11.07625 6.36875 7.3225 9.54 17.22 9.54 29.675"/></svg></a>
    <a href="https://twitter.com/shageman" class="btn" rel="noopener noreferrer me"><svg style="font-decoration: none;" width="12" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" aria-labelledby="TwitterTitleHeader" role="img"><title id="TwitterTitleHeader">Twitter Profile</title><path style="font-decoration: none;"fill="currentColor" d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z" /></svg></a>
    <a href="https://github.com/shageman/" class="btn" rel="noopener noreferrer me"><svg width="12" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512" aria-labelledby="GithubTitleHeader" role="img"><title id="GithubTitleHeader">Github Profile</title><path fill="currentColor" d="M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3.3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5.3-6.2 2.3zm44.2-1.7c-2.9.7-4.9 2.6-4.6 4.9.3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3.7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3.3 2.9 2.3 3.9 1.6 1 3.6.7 4.3-.7.7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3.7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3.7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z" /></svg></a>
    <a href="https://www.linkedin.com/in/stephan-hagemann" class="btn" rel="noopener noreferrer me"><svg width="12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-labelledby="LinkedInTitleHeader" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve"><g><title id="LinkedInTitleHeader">LinkedIn Profile</title><path fill="currentColor" d="M232.7,336.1v632.2H22.1V336.1H232.7z M246.1,140.8c0.4,31.1-10.3,57-32.2,77.8c-21.9,20.8-50.7,31.3-86.5,31.3h-1.3c-34.9,0-62.9-10.4-84.2-31.3C20.6,197.8,10,171.9,10,140.8c0-31.5,11-57.5,32.9-78.2c21.9-20.6,50.5-31,85.8-30.9c35.3,0,63.6,10.3,84.8,30.9C234.8,83.3,245.6,109.3,246.1,140.8z M990,605.9v362.4H780.1V630.2c0-44.7-8.6-79.6-25.8-105c-17.2-25.3-44.1-38-80.7-38c-26.8,0-49.2,7.3-67.3,22c-18.1,14.7-31.6,32.9-40.5,54.6c-4.7,12.8-7,30-7,51.7v352.8H348.8c0.9-169.7,1.3-307.3,1.3-412.8c0-105.5-0.2-168.4-0.6-188.8l-0.6-30.6h209.9v91.9h-1.3c8.5-13.6,17.2-25.5,26.2-35.7c8.9-10.2,20.9-21.3,36-33.2c15.1-11.9,33.6-21.2,55.5-27.8s46.3-9.9,73.1-9.9c72.7,0,131.2,24.1,175.4,72.4C967.9,442,990,512.7,990,605.9L990,605.9z"/></g></svg></a>
  </div>
</p>

<div>
  <a href="/books/gradual-modularization" class="btn">Buy Gradual Modularization for Ruby and Rails (and extras)</a>
</div>

<script>
  var bgImageArray = ["stephan1.jpg", "stephan5.jpg", "stephan2.jpg", "stephan3.jpg", "stephan4.jpg"];
  var creditsArray = ["evantravers", null, "evantravers", "evantravers", null];

  base = "/images/",
  secs = 6;

  bgImageArray.forEach(function(img){
      new Image().src = base + img;
      // caches images, avoiding white flash between background replacements
  });

  function backgroundSequence() {
    window.clearTimeout();
    var k = 0;
    for (i = 0; i < bgImageArray.length; i++) {
      setTimeout(function(){
        if (window.innerWidth <= 1266) { return; }

        document.getElementById("sidebar").style.backgroundImage = "url(" + base + bgImageArray[k] + ")";
        document.getElementById("sidebar").style.backgroundRepeat = "no-repeat";
        document.getElementById("sidebar").style.backgroundSize = "cover";
        document.getElementById("sidebar").style.backgroundBlendMode = "normal";

        document.getElementById("image-credits").innerHTML = "";
        if (creditsArray[k]) {
          document.getElementById("image-credits").innerHTML = "Image: <a href='https://www.instagram.com/" + creditsArray[k] + "'>@" + creditsArray[k] + "</a>";
        }

        if ((k + 1) === bgImageArray.length) { setTimeout(function() { backgroundSequence() }, (secs * 1000))} else { k++; }
      }, (secs * 1000) * i)
    }
  }
  backgroundSequence();
</script>