@import '_variables';
@import '_mixins';
@import '_syntax';
@import '_themes';

@font-face {
  font-family: Placard;
  src: url('/fonts/placardmtstd-cond-webfont.woff2') format('woff2'),
    url('/fonts/placardmtstd-cond-webfont.woff') format('woff');
  font-display: swap;
}


html,
body {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  // color: #444;
  font-family: Georgia, serif;
  font-weight: normal;
  line-height: 28px;
  font-size: 14px;

  @include bp(narrow) {
    line-height: 31px;
    font-size: 16px;
  }

  @include bp(wide) {
    display: flex;
    flex-direction: row;
  }
}

.sidebar {
  @include bp(wide) {
    width: 45%;
    min-height: 100vh;
  }

  header {
    position: sticky;
    top: 0;
  }
}

.main {
  background-color: #fff;
  position: relative;

  @include bp(wide) {
    width: 55%;
  }
}

.container,
.sidebar-container {
  width: 95%;
  text-align: left;
  margin-left: auto;
  margin-right: auto;

  @include bp(narrow) {
    width: 90%;
    max-width: 700px;
  }

  @include bp(mid) {
    width: 85%;
    max-width: 700px;
  }

  @include bp(wide) {
    width: 80%;
    max-width: 600px;
  }
}

.container {
  @include bp(wide) {
    margin: 0 auto;

    &.centered-container {
      position: absolute;
      margin: 0;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  h1,
  h2 {
    a {

      // border-bottom-color: #9bf;
      &:link,
      &:visited {
        color: black;
      }

      &:hover,
      &:focus {
        color: black;
        border-bottom: 1px solid #2755de;

        &.header-anchor::after {
          content: " ⚓";
        }
      }
    }
  }
}

.sidebar-container {
  @include bp(wide) {
    margin-right: 3em;
  }
}

.page-details {
  // height: 80px;
  padding-bottom: 10px;
  margin-bottom: 30px;

  @include bp(wide) {
    margin-top: 5em;
    padding-bottom: 5em;
  }
}

a {
  text-decoration: none;
  // border-bottom-style: solid;
  // border-bottom-width: 1px;
}

ul,
ol {
  padding-left: 1em;
}

ul.tags {
  list-style: none;
  margin-top: 0.5em;
  margin-left: 0;
  padding-left: 0;
  font-size: 0.9em;

  li {
    line-height: 1.5;
  }
}

a.tag {

  &:link,
  &:visited {
    border-bottom-style: none;
  }
}

// Headings
h1,
h2,
h3,
h4 {
  font-family: arial, sans-serif;
  padding-top: 1em;
  line-height: 1.2;
}

h1 {
  font-family: Placard, arial, sans-serif;
  font-size: 1.6em;

  @include bp(mid) {
    font-size: 1.9em;
  }

  @include bp(wide) {
    font-size: 3.6em;
  }

  line-height: 1;
  text-transform: uppercase;
  font-weight: normal;
  margin-top:0;
  margin-bottom:0;
  padding-top:1rem;
  padding-bottom:0.4rem;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.2em;
}

h4 {
  font-size: 1.1em;
}

.no-wrap {
  white-space: nowrap;
}

.avatar-large {
  width: 120px;
  border-radius: 4px;
  border: solid 2px #fff;
  box-shadow: #000 0 0 4px;
}

.main {
  img {
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
  }

  @include bp(wide) {
    overflow: scroll;
  }

  height: 100vh;
}

.by-line {
  font-size: 0.8em;
}

.excerpt {
  font-style: italic;
  font-size: 1.1em;
}

blockquote {
  margin-left: 0;
  padding: 0.01em 1.5em;
  border-left-style: solid;
  border-left-width: 0.8em;
}

.phonetic {
  font-size: 1.5rem;
  margin-top: 0;
}

hr {
  border-style: none;
  border-bottom: solid 1px #eee;
  margin: 2em 0;
}

form {
  border-radius: 2px;
  padding: 1em 2em;
  margin: 2em -2em 1em -2em
}

label small {
  opacity: 0.6em;
  display: block;
}

input,
textarea {
  width: 100%;
  border: solid 1px #bbb;
  padding: 0.2em;
  font-size: 1.1rem;
  font-family: Georgia, serif;
}

textarea {
  height: 8rem;
}

.btn,
button {
  cursor: pointer;
  font-size: 1em;
  background-color: #555;
  color: #fff !important;
  font-family: Georgia, serif;
  border-style: none;
  padding: 0.5em 1em;
  border-radius: 3px
}

.blog-list-item {
  padding: 1em 0 2em;

  h2,
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  .by-line {
    margin-bottom: 0;
  }

  .grab {
    margin-top: 1em;
    margin-bottom: 0;
  }

  img {
    margin: 0;
    padding: 0;
  }
}

img.flag {
  width: 1em;
}

a.more-link {
  background-color: #eee;
  display: inline-block;
}

img.external-link {
  width: 0.8em;
  padding-left: 0.4em;
  vertical-align: middle;
  opacity: 0.3;
}

h2 img.external-link {
  width: 0.6em;
}

.tweet {
  font-size: 0.9em;
  background-color: rgba(0, 0, 0, 0.03);
  border-radius: 4px;
  padding: 2em 2em 1em;
  margin: 1em -2em 0.5em;
}



// Header
header {
  ul.nav {
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 0.9em;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline;
    }

    a {
      display: inline-block;
      padding: 4em 0.3em 0.2em 0.3em;
      border-bottom-style: none;
    }

    a.home {
      padding-left: 0.7em;
      padding-right: 0.7em;
    }

    a.blog {
      padding-left: 1em;
    }
  }
}

pre {
  overflow: auto;
}


a {
  border-bottom-color: #9bf;

  &:link,
  &:visited {
    color: #46c;
  }

  &:hover,
  &:focus {
    color: #2755de;
    border-bottom-color: #2755de;
  }
}

blockquote {
  border-left-color: mix(#333, #fff, 10%);
}

.blog-list-item h2 a,
.blog-list-item h3 a {
  color: #444;
}

form {
  background-color: #f9f9f9;
}

.sidebar {
  --theme-base: 100, 100, 100;
  background-color: #333;
  color: mix(#333, #fff, 20%);
  overflow: none;

  h1 {
    color: #fff;
  }

  p {
    display: none;
  }

  span {
    display: inline;
    margin-right: 8px;
  }

  @include bp(wide) {
    h1 {
      padding-top: 0.3rem;
    }

    p {
      display: block;
    }

    span {
      display: block;
    }
  }

  a {
    color: #fff;
    border-color: #fff;
  }

  a.home {
    color: #333;
  }

  ul.nav {
    a {
      background-color: #444;
    }

    a:hover {
      background-color: #aaa;
    }

    a.home {
      background-color: #fff;
    }

    a.home:hover {
      background-color: #ddd;
    }
  }

  [aria-current='page'] a {
    text-decoration: underline;
  }
}








.image-credits {
  color: #fff;
  left: 50px;
  bottom: 20px;
  position: absolute;

  p {
    font-size: 14px;
  }
}

#honey {
  display: none;
}

/* Events list */
.card-list {
  .event-item {
    margin-top: 1.5rem;
  }

  .event-item summary,
  .card-list .event-item details p {
    font-size: 16px;
  }

  .event-item details {
    margin: 8px;
  }

  .event-item .event-date {
    color: var(--grey-60);
    font-size: 12px;
    margin-right: 4px;
  }

  .event-item h3 {
    margin: 0;
  }

  .event-item details {
    grid-column: span 2;
    margin-top: 0;
    padding: 0;
  }

  .event-location {
    color: var(--grey-60);
    font-size: 12px;
    margin: 8px 0 0 0;
  }

  .event-location img {
    box-shadow: none;
    display: inline;
    margin: 0 8px -16px 0;
    width: 12px;
  }

  summary::marker {
    color: var(--pink-20);
  }

  details p {
    background-color: var(--grey-05);
    padding: 16px 24px;
  }

  summary,
  .event-location,
  .post-tag {
    font-family: var(--font-display);
  }

  @include bp(narrow) {
    .event-item {
      display: grid;
      grid-template-columns: 2fr 1fr;
    }
  }
}

/* Lite Youtube Embed */
lite-youtube {
  background-color: #000;
  position: relative;
  display: block;
  contain: content;
  background-position: center center;
  background-size: cover;
  cursor: pointer;
  margin: var(--size-700) 0;
  max-width: 720px;

  /* gradient */
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAADGCAYAAAAT+OqFAAAAdklEQVQoz42QQQ7AIAgEF/T/D+kbq/RWAlnQyyazA4aoAB4FsBSA/bFjuF1EOL7VbrIrBuusmrt4ZZORfb6ehbWdnRHEIiITaEUKa5EJqUakRSaEYBJSCY2dEstQY7AuxahwXFrvZmWl2rh4JZ07z9dLtesfNj5q0FU3A5ObbwAAAABJRU5ErkJggg==);
    background-position: top;
    background-repeat: repeat-x;
    height: 60px;
    padding-bottom: 50px;
    width: 100%;
    transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
  }

  /* responsive iframe with a 16:9 aspect ratio
    thanks https://css-tricks.com/responsive-iframes/
  */
  &::after {
    content: "";
    display: block;
    padding-bottom: calc(100% / (16 / 9));
  }

  >iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
  }

  /* play button */
  >.lty-playbtn {
    width: 68px;
    height: 48px;
    position: absolute;
    cursor: pointer;
    transform: translate3d(-50%, -50%, 0);
    top: 50%;
    left: 50%;
    z-index: 1;
    background-color: transparent;
    /* YT's actual play button svg */
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 68 48"><path fill="%23f00" fill-opacity="0.8" d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"></path><path d="M 45,24 27,14 27,34" fill="%23fff"></path></svg>');
    filter: grayscale(100%);
    transition: filter .1s cubic-bezier(0, 0, 0.2, 1);
    border: none;
  }

  &:hover>.lty-playbtn,
  .lty-playbtn:focus {
    filter: none;
  }

  /* Post-click styles */
  &.lyt-activated {
    cursor: unset;
  }

  &.lyt-activated::before,
  &.lyt-activated>.lty-playbtn {
    opacity: 0;
    pointer-events: none;
  }

  .lyt-visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}

@include bp(wide) {
  .content-margin-top {
    margin-top: 100px
  }
}


/* Webmentions */
.webmentions {
  img {
    border-radius: 50%;
    display: inline;
    height: 48px;
    width: 48px;
    object-fit: cover;
    padding-top: 0;
    padding-bottom: 0;
  }

  h3 {
    margin-top: 10px;
  }

  &.webmentions__facepile a {
    border: none;
    box-shadow: none;
  }

  &.webmentions__facepile a:hover {
    background: none;
  }

  a:hover img {
    filter: drop-shadow(3px 5px 10px var(--pink-20));
  }

  .form-webmention {
    margin: 16px 0;
    width: 90%;

    .btn {
      width: auto;
    }
  }

  .webmention-replies {
    article {
      margin-bottom: 16px;
      padding-top: 8px;
      padding-bottom: 8px;
    }

    .webmention__meta {
      img {
        height: 24px;
        width: 24px;
        display: inline-block;
      }

      .name {
        display: inline-block;
        margin-top: -4px;
        vertical-align: top;
      }

      time {
        float: right;
        font-size: 12px;
      }
    }

  }

  .webmention-text {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .webmention-text a {
    font-size: 14px;
    margin-left: 4px;
  }

  article.webmention {
    background-color: #edecf0;
    padding: 16px 16px 12px;
  }
}

.tags {
  a {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 2px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 4px;
    cursor: pointer;
    border-radius: 16px;
  }
}

.tag-cloud {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  line-height: 2.75rem;
  width: 100%;

  a {
    /*
    Not supported by any browser at the moment :(
    --size: attr(data-weight number);
    */
    --size: 4;
    --color: #a33;
    color: var(--color);
    font-size: calc(var(--size) * 0.25rem + 0.5rem);
    display: block;
    padding: 0.125rem 0.25rem;
    position: relative;
    text-decoration: none;
    /*
    For different tones of a single color
    opacity: calc((15 - (9 - var(--size))) / 15);
    */
  }

  a[data-weight="1"] {
    --size: 1;
  }

  a[data-weight="2"] {
    --size: 2;
  }

  a[data-weight="3"] {
    --size: 3;
  }

  a[data-weight="4"] {
    --size: 4;
  }

  a[data-weight="5"] {
    --size: 6;
  }

  a[data-weight="6"] {
    --size: 8;
  }

  a[data-weight="7"] {
    --size: 10;
  }

  a[data-weight="8"] {
    --size: 13;
  }

  a[data-weight="9"] {
    --size: 16;
  }

  a[data-weight="10"] {
    --size: 20;
  }

  // &[data-show-value] a::after {
  //   content: " (" attr(data-weight) ")";
  //   font-size: 1rem;
  // }

  li:nth-child(2n+1) a {
    --color: #181;
  }

  li:nth-child(3n+1) a {
    --color: #33a;
  }

  li:nth-child(4n+1) a {
    --color: #c38;
  }

  a:focus {
    outline: 1px dashed;
  }

  a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 100%;
    background: var(--color);
    transform: translate(-50%, 0);
    opacity: 0.15;
    transition: width 0.25s;
  }

  a:focus::before,
  a:hover::before {
    width: 100%;
  }

  @media (prefers-reduced-motion) {
    * {
      transition: none !important;
    }
  }
}

.toot {
  width: 100%;

  &.toot-mine {
    .toot-bubble {
      margin-right: auto;
      background-color: #dfe0ff;
    }

    .arrow-down {
      margin-right: auto;
      border-top: 20px solid #dfe0ff;
    }

    .toot-metadata {
      margin-left: 10px;
    }
  }

  &.toot-other {
    .toot-bubble {
      background-color: lightgrey;
      margin-left: auto;
      margin-bottom: 0;
    }

    .arrow-down {
      margin-left: auto;
      border-top: 20px solid lightgrey;
    }

    .toot-metadata {
      text-align: right;
      margin-right: 10px;
    }
  }

  .toot-bubble {
    width: 80%;
    border-radius: 6px;

    .toot-images {
      width: 90%;
      margin: auto;
      margin-bottom: 0;
    }

    .toot-content {
      padding-left: 12px;
      padding-right: 12px;

      :first-child {
        margin-top: 0;
      }

      :last-child {
        margin-bottom: 0;
      }
    }
  }

  .arrow-down {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;

    // border-top: 20px solid #f00;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 0;
  }

  .toot-metadata {
    margin-bottom: 8px;

    >* {
      display: inline-block;
    }

    .toot-time {
      height: 40px;
      vertical-align: text-bottom;
      margin-left: 20px;
      margin-right: 20px;
    }

    .toot-author-icon {
      display: inline;
      height: 40px;
      width: 40px;
      padding: 0;
    }

    .author-name {
      margin-bottom: -8px;
      display: block;
    }

    .author-acct {
      color: darkgray;
      display: block;
    }
  }
}

.testimonials {
  list-style-type: none;
}

.connected-companies {
  list-style-type: none;
  font-size-adjust: 0.9;
  text-align: center;

  li {
    display: inline-block;

  }

  li:not(:last-child) {
    ::after {
      content: " | ";
    }
  }
}